<div class='accordion' id="acordeon_secanexos">
  <%= item_acordeon_bs(
    'acordeon_secanexos', 'secanexos', 
    t('Medios de verificación / Anexos'), false, {
      'estilo_accordion-header' => 'text-align: center',
      'estilo_accordion-body' => 'anexos-div anexosdiv'
    })  do %>
    <% if f.object.id.nil? %>
      Guarde esta persona para poder agregarle anexos
    <% else %>
      <%= f.simple_fields_for :anexo_persona do |ap| %>
        <%= render 'sip/anexos/anexosinsip_campos_condiv', :f => ap %>
      <% end %>
    <% end %>
  <% end %>
  <div class="links">
    <%= link_to_add_association t('Añadir anexo'), f, 
      :anexo_persona, :class => 'btn-primary',
      partial: 'sip/anexos/anexosinsip_campos_condiv'
    %>
  </div>
</div> <!-- accordion -->
