<%= a.input :descripcion %>
<% if !a.object || !a.object.adjunto_file_name || !a.object.id %>
  <%= a.input :adjunto, as: :file, label: t('Archivo') %>
<% else %>
  <div class="anexo_adjunto">
    <label for="anexo_attributes_<%=a.object.id%>_adjunto"><%= t('Archivo') %></label>
    <a id="anexo_attributes_<%=a.object.id%>_adjunto" href="<%= sip.descarga_anexo_path(a.object.id) %>", style="text-decoration:none" data-turbo='false'><%= a.object.adjunto_file_name %></a>
  </div>
<% end %>
<%= a.input :id, as: :hidden %>
